workflows/gemini-cloud-demo.json
{
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 FULL CYCLE DEMO \n\n1. **Anonymize**: Hide PII before sending to AI.\n2. **Simulate AI**: Pretend ChatGPT processed the data.\n3. **De-anonymize**: Restore real names in the response.\n\n👇 **Check the final output!**",
        "height": 652,
        "width": 1680,
        "color": 6
      },
      "id": "915eb2b7-090c-4088-8203-b7dc1032bfb1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.securenode.app/anonymize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bcc10467-650e-4f96-ad45-cd42a30ac9ff",
      "name": "2. 🛡️ Anonymize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.securenode.app/deanonymize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output }}"
            },
            {
              "name": "state",
              "value": "={{ $('2. 🛡️ Anonymize').item.json.state }}"
            }
          ]
        },
        "options": {}
      },
      "id": "78f90030-219f-44bf-b943-b7c8f88559c6",
      "name": "4. ✅ De-anonymize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        944,
        368
      ]
    },
    {
      "parameters": {
        "content": "### Input Data\nClient John Smith (john@example.com) requests a refund.",
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        208
      ],
      "typeVersion": 1,
      "id": "2b82769e-da6c-4f16-8cb6-ecb71726b0fc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Anonymized Data\nClient <PERSON_1> (<EMAIL_ADDRESS_1>) requests a refund.",
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        208
      ],
      "typeVersion": 1,
      "id": "f15a65fb-eded-4cf8-af78-09192d914e9f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Response from AI\nAI Answer: I have processed the refund for Client <PERSON_1> (<EMAIL_ADDRESS_1>) requests a refund.. Case Closed."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        736,
        208
      ],
      "typeVersion": 1,
      "id": "8202afb8-1703-4fdc-83b3-fd2713cb4b2d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### De-anonymized Data\nAI Answer: I have processed the refund for Client John Smith (john@example.com) requests a refund.. Case Closed."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        208
      ],
      "typeVersion": 1,
      "id": "016c2cc4-fd61-4d09-b690-266958de9a0a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Local data map\n\"<PERSON_1>\":  \"John Smith\",\n  \"<EMAIL_ADDRESS_1>\": \"john@example.com\"",
        "height": 112,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        528
      ],
      "typeVersion": 1,
      "id": "e9e319ae-6b80-4751-82de-fb43e247f1d1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        528,
        368
      ],
      "id": "a75e6340-5adb-43b6-b84e-817d9913205b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        528,
        544
      ],
      "id": "27a577d1-7358-45c1-b880-b8af94fc8829",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IoHHm3pIq4Y2nOJR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -64,
        368
      ],
      "id": "c22995f5-1c6a-44ce-b431-a9d80088904a",
      "name": "When chat message received",
      "webhookId": "c4fb0998-664e-4e4f-86b3-3786b3bece26"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        624,
        640
      ],
      "id": "041f48d1-8342-4682-bf56-582cf46b4771",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "2. 🛡️ Anonymize": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "4. ✅ De-anonymize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "2. 🛡️ Anonymize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8bacf21421386c7820aaae3efbdf1927b57e11b284519bcd4306bc1f897d5ac"
  }
}