workflows/simple-cloud-demo.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "dbce8e2b-7dda-4149-accf-ad9fafd1d6c4",
      "name": "▶️ Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        368
      ]
    },
    {
      "parameters": {
        "content": "## 🚀 FULL CYCLE DEMO (for production use Docker from https://securenode.app )\n\n1. **Anonymize**: Hide PII before sending to AI.\n2. **Simulate AI**: Pretend ChatGPT processed the data.\n3. **De-anonymize**: Restore real names in the response.\n\n👇 **Check the final output!**",
        "height": 540,
        "width": 1680,
        "color": 6
      },
      "id": "915eb2b7-090c-4088-8203-b7dc1032bfb1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        112
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "Client John Smith (john@example.com) requests a refund."
            }
          ]
        },
        "options": {}
      },
      "id": "f7dfb853-be54-4d50-817c-1767bbfddaa8",
      "name": "1. 📝 Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -96,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.securenode.app/anonymize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bcc10467-650e-4f96-ad45-cd42a30ac9ff",
      "name": "2. 🛡️ Anonymize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        256,
        368
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ai_response",
              "value": "=AI Answer: I have processed the refund for {{ $json.text }}. Case Closed."
            }
          ]
        },
        "options": {}
      },
      "id": "804a8bd7-f3b1-42ae-a2e4-b83365bb8bf2",
      "name": "3. 🤖 Mock AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        576,
        368
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.securenode.app/deanonymize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.ai_response }}"
            },
            {
              "name": "state",
              "value": "={{ $json.state }}"
            }
          ]
        },
        "options": {}
      },
      "id": "78f90030-219f-44bf-b943-b7c8f88559c6",
      "name": "4. ✅ De-anonymize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        944,
        368
      ]
    },
    {
      "parameters": {
        "content": "### Input Data\nClient John Smith (john@example.comå) requests a refund.",
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        240
      ],
      "typeVersion": 1,
      "id": "2b82769e-da6c-4f16-8cb6-ecb71726b0fc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Anonymized Data\nClient <PERSON_1> (<EMAIL_ADDRESS_1>) requests a refund.",
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1,
      "id": "f15a65fb-eded-4cf8-af78-09192d914e9f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Response from AI\nAI Answer: I have processed the refund for Client <PERSON_1> (<EMAIL_ADDRESS_1>) requests a refund.. Case Closed."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        688,
        240
      ],
      "typeVersion": 1,
      "id": "8202afb8-1703-4fdc-83b3-fd2713cb4b2d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### De-anonymized Data\nAI Answer: I have processed the refund for Client John Smith (john@example.com) requests a refund.. Case Closed."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        240
      ],
      "typeVersion": 1,
      "id": "016c2cc4-fd61-4d09-b690-266958de9a0a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Local data map\n\"<PERSON_1>\":  \"John Smith\",\n  \"<EMAIL_ADDRESS_1>\": \"john@example.com\"",
        "height": 112,
        "width": 864
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        224,
        528
      ],
      "typeVersion": 1,
      "id": "e9e319ae-6b80-4751-82de-fb43e247f1d1",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "▶️ Start": {
      "main": [
        [
          {
            "node": "1. 📝 Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. 📝 Input Data": {
      "main": [
        [
          {
            "node": "2. 🛡️ Anonymize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. 🛡️ Anonymize": {
      "main": [
        [
          {
            "node": "3. 🤖 Mock AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. 🤖 Mock AI Response": {
      "main": [
        [
          {
            "node": "4. ✅ De-anonymize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c8bacf21421386c7820aaae3efbdf1927b57e11b284519bcd4306bc1f897d5ac"
  }
}