workflows/simple-cloud-demo.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "ef60642e-0a8d-477a-932d-c20d5107f98e",
      "name": "▶️ Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        96
      ]
    },
    {
      "parameters": {
        "content": "## 🚀 FULL CYCLE DEMO\n\n⚠️ **PRIVACY NOTE**: This workflow sends data to a **public demo server**. Please use **fake data** only.\n\n### 🔒 FOR PRODUCTION:\nTo run this **locally & securely** (no data leaves your server), please use our Docker Image.\n👉 **[Get Docker Image (SecureNode.app)](https://securenode.app)**\n\n---\n**How this demo works:**\n1. **Anonymize**: Hide PII before sending to AI.\n2. **Simulate AI**: Pretend ChatGPT processed the data.\n3. **De-anonymize**: Restore real names in the response.",
        "height": 581,
        "width": 1216,
        "color": 6
      },
      "id": "c52b4ed4-2fbf-44b8-a47e-6bb1c588fe09",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -576,
        -304
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "Client John Smith (john@example.com) requests a refund."
            }
          ]
        },
        "options": {}
      },
      "id": "d0779329-77a3-4b01-b3a9-4fcda9c528af",
      "name": "1. 📝 Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -288,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.securenode.app/anonymize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "license",
              "value": "securenode2025beta"
            }
          ]
        },
        "options": {}
      },
      "id": "dea1e7f6-d119-4274-a8d0-6146656a5b27",
      "name": "2. 🛡️ Anonymize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -64,
        96
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ai_response",
              "value": "=AI Answer: I have processed the refund for {{ $json.text }}. Case Closed."
            }
          ]
        },
        "options": {}
      },
      "id": "a4beb4f5-ade8-4bd7-8465-5460c1eaa7ae",
      "name": "3. 🤖 Mock AI Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        160,
        96
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.securenode.app/deanonymize",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.ai_response }}"
            },
            {
              "name": "mapping",
              "value": "={{ $('2. 🛡️ Anonymize').item.json.mapping }}"
            },
            {
              "name": "license",
              "value": "securenode2025beta"
            }
          ]
        },
        "options": {}
      },
      "id": "412c3fde-7bf8-4801-8ffd-c51b9569a8ee",
      "name": "4. ✅ De-anonymize",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        384,
        96
      ]
    }
  ],
  "connections": {
    "▶️ Start": {
      "main": [
        [
          {
            "node": "1. 📝 Input Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. 📝 Input Data": {
      "main": [
        [
          {
            "node": "2. 🛡️ Anonymize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. 🛡️ Anonymize": {
      "main": [
        [
          {
            "node": "3. 🤖 Mock AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. 🤖 Mock AI Response": {
      "main": [
        [
          {
            "node": "4. ✅ De-anonymize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c8bacf21421386c7820aaae3efbdf1927b57e11b284519bcd4306bc1f897d5ac"
  }
}